<ng-container *ngIf="taskList.length > 0; else: noTask">

  <p [ngStyle] = "{color: getColor()}">Zadania do wykonania: {{taskList.length}}</p>
  <ul>
    Lista zadań
    <li *ngFor=" let task of taskList; let odd = odd" [ngClass]="{'odd-li': odd, 'last-li':taskList.length===1}">
        {{task}}
        <button (click)="remove(task)">Usun</button>
        <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
    </li>
  </ul>
  </ng-container>
  <ng-template #noTask>Czas wolny</ng-template>
